[Unit]
Description=IR MQTT Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=david
WorkingDirectory=/home/david/pi-dumb2smart-ir
ExecStart=/usr/bin/python3 /home/david/pi-dumb2smart-ir/mqtt_bridge.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
